# K-NN  Classifier

## Imports

In [47]:
import pandas as pd
from sklearn import datasets as ds
from sklearn.model_selection import train_test_split as tts
import math

## Load data

In [48]:
iris = ds.load_iris()
df_x = pd.DataFrame(data= iris.data, columns= iris.feature_names)
df_y = iris.target

In [49]:
df_x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [50]:
df_y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

## Split data into training and test sets

In [51]:
x_train, x_test, y_train, _y_test  = tts(df_x, df_y, test_size= 0.2, random_state= 0)

## Implement Eculidean distance calculator

In [52]:
def euclidean_distance(new_obj, train_obj):
    distance = math.sqrt(sum([(new_obj[i] - train_obj[i])**2 for i in range(len(new_obj)-1)]))
    return distance

## Implement K-NN algorithm

In [53]:
def knn_algorithm(x_train, x_test, y_train, K):
    for i in range(len([1])):
        euclidean_distances = [euclidean_distance(x_test.iloc[i], x_train.iloc[j]) for j in range(len(x_train))]
        distance = pd.DataFrame(columns= ["distance"], data= euclidean_distances)
        distance['class'] = y_train
    return distance

In [54]:
a = knn_algorithm(x_train= x_train, x_test= x_test, y_train= y_train, K= 5)

In [55]:
a

     distance  class
0    0.781025      2
1    0.748331      1
2    3.716181      0
3    0.412311      2
4    0.781025      2
..        ...    ...
115  3.722902      0
116  0.714143      2
117  1.004988      1
118  2.677686      2
119  3.910243      0

[120 rows x 2 columns]